.edgewise { position: relative; width: 240px; height: 50px; background-image: url("edgewise/scale.png"); }
.edgewise-needle, .edgewise-frame { position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; }
.edgewise-needle { background-image: url("edgewise/needle.png"); background-repeat: no-repeat; }
.edgewise-frame { background-image: url("edgewise/frame.png"); }
.edgewise-scale-min, .edgewise-scale-max { position: absolute; top: 12px; width: 40px; font: bold 11px Arial; color: #666; text-align: center; }
.edgewise-scale-min { left: 20px; margin-left: -20px; }
.edgewise-scale-max { right: 20px; margin-right: -20px; }
.edgewise-scale-label { position: absolute; top: 6px; left: 0px; right: 0px; font: bold 12px Arial; color: #666; text-align: center; }
.edgewise-scale-gradient { position: absolute; bottom: 5px; left: 20px; right: 20px; height: 5px; background-size: 100% 100%; }
